body{
    font-family: 'Sanchez', serif;
    
}
.container{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 25px;
    border-radius: 6px;


}
.container-wrapper{
    max-width: 600px;
    margin: 30px auto;
}

h1{
    font-family: 'Sanchez', serif;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom:15px;
}
.btn-group{
    top: 50px;
    right: 30px;
    font-family: 'Archivo Black', sans-serif;
}
input{
    width: 350px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding: 4px;
    color: #637373;
    
}
button{
    padding: 8px 15px;
    border-radius: 30px;
    background: #ff9a76;
    border: none;

}
button:hover{
    background: #ffeadb;
}

h2{
    font-size: 36px;
    padding-left: 50px;
    padding-top: 35px;
}

h3{
    font-family: 'Archivo Black', sans-serif;
    font-size: 23px;
    text-indent: 13px;
    text-transform: capitalize;
}
.list-group-item{
    background:none;
    border:none;
}

.card-link li a{
    text-decoration: none;
}
#now {
    font-size:24px;
    padding-left:38px;

}
#weather-icon{
    padding-left:22px;

}
.temperature-switch .active-temp{
    background:  #0275d8;
    color: white;
    
}
#weather-channel-link{
    text-decoration: none;
}
